@font-face {
  font-family: "Harena Term K";
  src: url("./fonts/HarenaTermK-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "Harena Term K";
  src: url("./fonts/HarenaTermK-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: block;
}
